1. If block difficulty is 4, increase transaction gas price by 400%.
2. If timestamp is 4:20 am on April 20th, decrease difficulty by 4.
3. If the miner's address matches Kensuke's address, mint and send 69 additional QGL to the address.